<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="../public/style.css">
    <script src="https://kit.fontawesome.com/b1374535e8.js" crossorigin="anonymous"></script>
</head>

<body style="background-color:rgb(43, 41, 41);">

    <ul style="with:100%; hight: 50px; display:flex; padding: 20px; background-color:rgb(129, 127, 127);">
        <li style="padding-right: 30px; padding-left:20px;">
            <a href="#" style="color: white; font-size:larger; cursor:pointer;">
                Home
            </a>
        </li>
        <li style="padding-right: 30px; padding-left:20px;">
            <a href="../public/pages/about.html" style="color: white; font-size:larger; cursor:pointer;">
                About
            </a>
        </li>
        <li style="padding-right: 30px; padding-left:20px;">
            <a href="../public/pages/contact.html" style="color: white; font-size:larger; cursor:pointer;">
                Contact
            </a>
        </li>
        <li style="padding-right: 30px; padding-left:67%;">
            <a href="../public/pages/profile.html" style="color: white; font-size:larger; cursor:pointer;">
                {{profile}}
            </a>
        </li>
    </ul>
    <h1 style="text-align: center; font-size:xx-large; color:rgb(132, 224, 11);  padding:1rem;">Student Talent Portfolio
    </h1>
    <div class="container" style="max-width: 100%;
    width: 16%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    padding-left: 40px;
    padding-right: 50px;
    justify-content: center;
    text-align:center;
    position: relative;
    background-color:white;
    border-radius: 25px;
    border: 1px solid rgb(132, 224, 11); 
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15); ">
        <h1 style="text-align:center; display:flex; font-size:x-large; padding-left:7px; padding-bottom:20px;">
            CONTACT FORM
        </h1>
        <form id="contactForm" style="padding-top:1rem;">
            <div class="inputbox" style="padding-left: px;">
                <input type="text" style=" 
                width: 100%;
                 height: 25px; 
                 border: 1px solid rgb(132, 224, 11); 
                 margin-bottom: 5px; 
                 font-size: 15px; 
                 font-weight: 500;
                 border-radius: 10px;
                 padding: 3px 5px;
                 box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
                 transition: all 0.3s ease;" 
                 id="name" placeholder="full name">
            </div>
            <div class="inputbox">
                <input type="email" style=" 
                width: 100%;
                 height: 25px; 
                 border: 1px solid rgb(132, 224, 11); 
                 margin-bottom: 5px; 
                 font-size: 15px; 
                 font-weight: 500;
                 border-radius: 10px;
                 padding: 3px 5px;
                 box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
                 transition: all 0.3s ease;" 
                id="emailid" placeholder="email">
            </div>
            <div class="textarea">
                <textarea type="text" style="
                width: 100%;
                height: 50px;
                margin-bottom: 5px;
                font-size: 15px;
                padding: 7px 5px;
                border-radius: 10px;
                border: 1px solid rgb(132, 224, 11);
                box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
                white-space: nowrap;
                transition: all 0.3s ease;"
                 id="mesContent" placeholder="message"></textarea>
            </div>
            <div class="btn" style="padding-left:8px;">
                <button type="submit" style="
                width: 100%;
                height: 40px;
                border: none;
                font-size: 15px;
                padding: 3px 7px;
                text-align: center;
                border-radius: 25px;
                display: inline-block;
                white-space: nowrap;
                color:white;
                justify-items: center;
                background: rgb(132, 224, 11);
                transition: all 0.3s ease;
                box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);">submit</button>
            </div>
        </form>
    </div>
</body>

</html>